body {
  font-family: var(--font-family-primary, "Merriweather", serif);
}

h1 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
}

h2 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 2rem;
  font-weight: 700;
  margin: 0.83em 0;
}

h3 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0;
}

h4 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-family: var(--font-family-heading, "Fira Sans", sans-serif);
  font-size: 1rem;
  font-weight: 700;
  margin: 2.33em 0;
}

.site-header {
  background: #fcfcfc;
  border-bottom: 0.063em solid #f3f3f3;
}
.site-header .branding-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}
.site-header .branding-navigation .site-branding .site-title,
.site-header .branding-navigation .site-branding .site-description {
  margin: 0;
  padding: 0;
}
.site-header .branding-navigation .site-branding .site-title {
  float: left;
  font-size: 2rem;
  padding: 0.5rem;
}
.site-header .branding-navigation .site-branding .site-title a {
  border-bottom: none;
  color: color(black);
  text-decoration: none;
}
.site-header .branding-navigation .site-branding .site-description {
  float: left;
  font-size: 1.25rem;
  padding: 1rem;
}
