@media screen and ( max-width: 480px ) {
    .site-content {
        margin: 3rem 0;

        .content-area {
            line-height: 1.8rem;
            margin: 2.25rem;
        }
    }
}

@media screen and ( min-width: 1170px ) {
    .site-content {
        margin: 3rem 0;

        .content-area {
            line-height: 1.8rem;
            margin: 0 auto;
            max-width: 640px;
        }
    }
}