.site-content {
    margin: 3rem 0;

    .content-area {
        line-height: 1.8rem;
        margin: 0 auto;
        max-width: 40rem;

        .post {
            .entry-header {
                text-align: center;

                .entry-title {
                    margin: 0;
                    padding: 0;
                }

                .entry-metadata { 
                    .entry-author {
                        display: inline-block;
                        vertical-align: middle;

                        svg {
                            height: 1rem;
                            width: 1rem;
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 0.313rem;
                        }
                    }

                    .entry-date {
                        display: inline-block;
                        vertical-align: middle;

                        svg {
                            height: 1rem;
                            width: 1rem;
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0 0.313rem 0 0.5rem;
                        }
                    }
                }
            }
        }
    }
}