@media screen and ( min-width: 1170px ) {
    .content-area {
        .post {
            margin-bottom: 3rem;

            .entry-header {
                .entry-metadata {
                    margin: 0.5rem 0;
                }

                .entry-title {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}